<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">NPR News Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home</a>
            <a class="nav-item nav-link" href="/saved">Saved Articles</a>
        </div>
    </div>
</nav>


<div class="jumbotron">
    <h1 class="display-4">Fox News Scraper</h1>
    <p class="lead">Select to scrape the Fox news website and be able to save articles. Read, leave, and delete
        comments
        on articles.</p>
    <button type="button" class="btn btn-primary" id="scrape">Scrape Website</button>
    <button type="button" class="btn btn-danger" id="deleteAll">Delete All Articles</button>
</div>

<div class="container">
    <h2>ARTICLES:</h2>
    <div class="articles-displayed">
        {{#each articles}}
            <div class="row mt-3 mb-3">
                <div class="col-md-8">
                    <p class="title">{{this.title}}</p>
                    <p class="type smallDetail">{{this.type}} | </p>
                    <a class="link smallDetail" href={{this.link}}>Read Article</a>
                    <p class="summary">{{this.summary}}</p>
                    <button type="button" class="btn btn-info" id="saveArticle" objectID={{this._id}}>Save
                        Article</button>
                </div>
                <div class="col-md-4">
                    <img class="image" src="{{this.image}}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        {{/each}}
    </div>
</div>